<!DOCTYPE html>
<html>
<head>
	<title>NextTwit</title>
	<meta charset="utf-8">
	<link rel="shortcut icon" href="{{url_for('static', filename='ico/favicon.ico')}}" />
	<link rel="apple-touch-icon-precomposed" href="{{url_for('static', filename='ico/apple-touch-icon.png')}}" />
	<meta property="og:image" content="{{url_for('static', filename='ico/thumbnail.png')}}" />
	
	<script src="{{url_for('static', filename='js/modernizr.js')}}"></script>
	<script src="{{url_for('static', filename='js/jquery.js')}}"></script>
	<script src="{{url_for('static', filename='js/bootstrap.js')}}"></script>
	<script src="{{url_for('static', filename='js/custom.js')}}"></script>
	<script src="{{url_for('static', filename='js/bootbox.min.js')}}"></script>
	
	<!-- 여기에 css 경로를 입력하세요 -->
	<link rel="stylesheet" href="">			<!-- static/css/bootstrap-theme.css -->
	<link rel="stylesheet" href="">			<!-- static/css/bootstrap.css -->
	<link rel="stylesheet" href="">			<!-- static/css/timeline.css -->
</head>
<body>
	<div id="master-wrap">
		{% include 'header.html' %}    
		<div class="main-content">
			<div class="container">
				<div class="row">
					<div class="col-sm-4">
						<div class="panel panel-primary">
							<div class="panel-heading">
								<h3 id="user_info" class="panel-title"></h3>
							</div>
			            	<div class="panel-body">
			            		{% if g.user %}
			            		<a class="pull-left" href="#">
									<img class="media-object" src="{{ g.user.email|gravatar(size=48) }}" alt="">
								</a>
								{% endif %}
								<span id="user_detail" ></span>
			            	</div>
						</div>
						<div>
							<form id="twit_form" action="/twit" method="post" class="form-horizontal">
								<textarea id="message" name="message" rows="4" class="form-control" placeholder="트윗 메시지"></textarea>
		        				<button id="twit_btn" class="btn btn-small btn-primary" type="submit">트윗</button>
							</form>
						</div>
					</div>
				    <div class="col-sm-8">
						<div class="list-group">
							{% include 'twits.html' %}							
						</div>
					</div>
				</div>
			</div>
		</div><!-- /.main-content -->	
	</div>
	
	<form id="follow_form" action="/follow" method="post">
		<input type="hidden" id="follower_id" name="userid" /> 
	</form>
	
	<form id="unfollow_form" action="/unfollow" method="post">
		<input type="hidden" id="unfollower_id" name="userid" /> 
	</form>
	
<script type="text/javascript">
$(document).ready(function() {
	{% if not g.user %}
		$('#user_info').text('손님이십니다');
		$('#user_detail').text('로그인해 주세요');
		$('#twit_message').click(function() {
			return false;
		});
		$('#message').attr('disabled', true);
		$('#twit_btn').attr('disabled', true);
	{% else %}	
		$('#login').hide();
		$('#user_info').text('{{g.user.userid}}');
		$('#user_detail').text('이메일 : {{g.user.email}}');
		$('#twit_message').click(function(event){
			bootbox.prompt('트윗할 메시지를 작성하세요', 
				function(data) {
					if (data != null) {
						$('#message').val(data);
						$('#twit_form').submit();
					}
			});
		});
	{% endif %}
});
</script>	
</body>
</html>